/Missions/Vanilla/dayzOffline.chernarusplus/storage_1
/Missions/Vanilla/dayzOffline.chernarusplus/storage_1
/Servers/\!ClientDiagLogs/CommunityOnlineTools
/Servers/\!ClientDiagLogs/DataCache
/Servers/\!ClientDiagLogs
/Servers/\!ClientDiagLogs
/Servers/Cherno/Profiles
/Servers/\!ClientDiagLogs/Users
